.profile {
  width: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.description {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 2px solid rgb(240, 240, 240); */
  background-color: rgb(240, 240, 240);
  margin-bottom: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.tag {
  margin-bottom: 8px;
}

.tag,
.location {
  color: rgb(144, 144, 144);
}

.stats {
  width: 300px;
  display: flex;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid rgb(240, 240, 240);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 3);
  padding: 30px 20px;
}

.item:not(:last-child) {
  border-right: 1px solid rgb(240, 240, 240);
}

.label {
  font-size: 12px;
  color: rgb(144, 144, 144);
}

.quantity {
  font-weight: bold;
}
